body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(242,242,242);
    font-size: 21px;
    /*font-weight: 200;
    line-height:2.1428571435;
    color: inherit;*/
}
