@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

@font-face {
    font-family: Alex-Brush;
    src: url(/Content/Fonts/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: Kaushan-Script;
    src: url(/Content/Fonts/KaushanScript-Regular.otf);
}
 
@font-face {
    font-family: Quicksand-Light;
    src: url(/Content/Fonts/Quicksand-Light.otf);
}
/*______________________________________________________________________________________________*/

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(242,242,242);
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Wrapper for page content to push down footer */
#wrap {
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover {
    cursor: pointer;
}

/* Custom page CSS
-------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
#myCarousel .item {
    height: 600px;
    background-color: #bbb;
}

#myCarousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}


#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer {
    background-color: #414141;
}

    #footer a {
        color: #efefef;
    }

header {
    background: #333;
    color: #555;
}

    header .navbar-brand {
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.5);
        font-family: Quicksand-Light, monospace;
        color: white;
        font-size: 20px;
    }

    header .dropdown-menu {
        top: 74px;
        background: #ffcc33;
        border-width: 0;
    }

/*h1 {
    font-size: 50px;
}*/

.logo {
    font-size: 40px;
    position: absolute;
    z-index: 1200;
    color: #333;
    top: 70px;
    text-align: center;
    width: 100%;
}

    .logo .title {
        font-family: Kaushan-Script;
    }

    .logo .description {
        padding: 3%;
        font-family: Alex-Brush, monospace;
    }

#nav {
    width: 100%;
    position: static;
    top: -32px;
}

    #nav.affix {
        position: fixed;
        top: 0;
        z-index: 10;
        -webkit-transition: all .6s ease-in-out;
    }

#footer > .container {
}

@media (min-width: 767px) {
    .navbar-nav.nav-justified > li {
        float: none;
    }
}

.navbar-nav {
    margin: 1px 1px;
    font-family: Kaushan-Script, monospace;
    font-size: 20px;
}

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
    font-weight: 700;
    text-transform: uppercase;
    border-width: 0;
}

    .navbar-custom .navbar-nav > li > a {
        color: #ddd;
    }

    .navbar-custom .dropdown-menu li > a:hover {
        color: #eee;
    }

    .navbar-custom .navbar-nav li > a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a {
        background-color: #000;
    }

    .navbar-custom .navbar-nav > .dropdown > a .caret {
        border-top-color: #999;
        border-bottom-color: #999;
    }

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
    outline: 0;
}

.divider {
    height: 50px;
}

.panel {
    border-width: 0;
    color: black;
}

@media (max-width: 768px) {
    header {
    }
}

#map-canvas {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 15px;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #f2f3f2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

    .scroll-top a:link, .scroll-top a:visited {
        color: #222;
    }


section {
    color: #ffffff;
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}

.bg-1 {
    background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
    background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('http://www.bootply.com/assets/example/bg_blueplane.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-4 {
    padding-top: 30px;
    /*background-color: #e6e6e6;*/
}

.panel .img-responsive {
    min-height: 270px;
    max-height: 270px;
}

.list-inline img{
    width:30px;
    height:30px;
}

/*__________________________________________________________________________________[ welcome page ]*/
.welcome .vcenter-welcome-page {
    margin-top: 10%; /**/
}

.welcome-page .intro {
    /*border:2px solid red;*/
    padding-left: 5%;
} 

    .welcome-page .intro .me {
        /*border:2px solid blue;*/
        padding-left: 5%;
    }

.welcome-page .welcome-intro {
    /*border:2px solid orange;*/
    padding-left: 20%;
}

.welcome-page .home-link {
    /*border:2px solid orange;*/
    padding-left: 20%;
}

.welcome-page .picture {
    margin-left: 25%;
}
    /**/

    .welcome-page .picture img {
        border-radius: 40px;
        opacity: 0.7;
    }


.welcome-page {
    background-image: url("/Content/Images/f4769_paris night.jpg");
    background-repeat: no-repeat;
    /*width: 100%;
    height: 600px;*/
    background-size: 100% 800px;
    z-index: -1;
    margin: 0;
    background-position: center bottom;
}


/*__________________________________________________________________________________[ Home page ]*/

.home-page {
    
}

/* ____________[ About page ]*/

.home-page .title {
    width: 100%;
    border-bottom: 2px solid #ddd;
    text-align: center;
    font-family: Kaushan-Script, monospace;
}


/* ____________[ Login page ]*/

.login-home label{
    color: black;
}


/* ____________[ Contact page ]*/


/*.contact-home .title {
    width: 100%;
    border-bottom: none;
    text-align: center;
    font-family: Kaushan-Script, monospace;
}*/
.contact-home{

}

 .contact-home section{
     min-height: 550px;
 }

.contact-home .bg-4 {
    background-color: #e6e6e6;
    color: black;
}


/* ____________[ Skills page ]*/


.skills-home{

}

.skills-home section{
    min-height: 250px;
}

.skills-home .bg-4{
    background-color: #e6e6e6;
    color: black;
}

.skills-home .bg-4 .panel-thumbnail {
    background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
    padding: 10% 10% 10% 20%;
}


.skills-home .panel-body{
    /*background-color: #e6e6e6;
    border-radius:0% 0% 5% 5%;*/
}

.skills-home .bg-3{
    background: none;
    background-color: #e6e6e6;
}




.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top: 5%;
    margin-bottom: 10%;
    min-height: 200px;
    max-height: 400px;
    /*border: 2px solid black;*/
    padding: 12% 10% 10% 18%;
}


/* ____________[ Experiences page ]*/

.experiences-home {
    /*color: black;*/
}

    .experiences-home .panel {
        background-color: #e6e6e6;
        /*background-color: white;*/
    }

    .experiences-home .wrapper {
        padding-top: 5px;
        border-radius: 100%;
        border-top: 4px solid #AA8239;
        margin-bottom: 50px;
    }

    .experiences-home .picture {
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }

    .experiences-home .bg-4 {
        background-color: #e6e6e6;
    }

    .experiences-home .contact-home {
        width:100%;
        padding:0;
        border:2px solid red;
    }

    .experiences-home .img-layout {
            padding: 10px;
            background-color:rgb(242,242,242);
        }

    .experiences-home .text-right, .experiences-home .text-left {
        font-size: 20px;
    }

        .experiences-home .link, .experiences-home .link {
            font-size: 30px;
            color: #AA8239;
        }
        
        

/* ____________[ Projects page ]*/

.projects-home{
    
}

.projects-home .bg-3{
    background: none;
    background-color: #e6e6e6;
}

.projects-home .bg-4{
    background-color: #e6e6e6;
    color: black;
}

.projects-home .panel{

}



/* ____________[ Education page ]*/

.education-home {
}

    .education-home .panel {
        background-color: #e6e6e6;
    }

    .education-home .wrapper {
        padding-top: 5px;
        border-radius: 100%;
        border-top: 4px solid #AA8239;
        margin-bottom: 50px;
    }

    .education-home .picture {
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }

    .education-home .bg-4 {
        background-color: #e6e6e6;
    }

    .education-home .bg-4 .container {
        width: 100%; 
        margin :0;
    }/**/

    .education-home .text-right, .education-home.text-left {
        font-size: 20px;
    }

        .education-home .link, .education-home .link {
            font-size: 30px;
            color: #AA8239;
        }

        .education-home .img-layout {
            padding: 10px;
            background-color:rgb(242,242,242);
        }

        .education-home .body-description{
            font-family: Kaushan-Script, monospace;
        }