@{

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--
<div class="ar"> < </div>
<div class="av"> > </div>
-->
<div id="content-section">
    <!--  Carousel - consult the Twitter Bootstrap docs at
          http://twitter.github.com/bootstrap/javascript.html#carousel -->
    <div id="this-carousel-id" class="carousel-home-body slide">
        <!-- class of slide for animation -->
        <div class="carousel-inner">
            <div class="item">
                <div id="page0">Loading...</div>
            </div>
            <div class="item">
                <div id="page1">Loading...</div>
            </div>
            <div class="item">
                <div id="page2">Loading...</div>
            </div>
            <div class="item">
                <div id="page3">Loading...</div>
            </div>
            <div class="item">
                <div id="page4">Loading...</div>
            </div>
            <div class="item active">
                <div id="page5">Loading...</div>
                <!--<div class="carousel-caption">
                    <p></p>
                </div>-->
            </div>
            <div class="item">
                <div id="loading-pages">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 vcenter">
                                <img class="ajax-loader" src="/Content/Images/ajax-loader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div id="contact-confirm">
                    <div class="container">
                        <a href="/Home/Index" class="close" data-dismiss="alert" style="font-size:35px;"><i class="glyphicon glyphicon-remove"></i></a>
                        <div class="row">
                            <div class="col-md-12 alert alert-success  vcenter">
                                <strong>Success!</strong> Your message has been sent successfully.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div id="contact-confirm">
                    <div class="container">
                        <a href="/Home/Index" class="close" data-dismiss="alert" style="font-size:35px;"><i class="glyphicon glyphicon-remove"></i></a>
                        <div class="row">
                            <div class="col-md-12 alert alert-danger  vcenter">
                                <strong>Faild!</strong> Your message has not been sent.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.carousel -->
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {            
            $('.carousel-home-body').carousel({ interval: false });
            
            var obj = @Html.Raw(ViewBag.Object);
            if ( obj == true ) {
                $('.carousel-home-body').carousel(7);
            }
            else if(obj == false){
                $('.carousel-home-body').carousel(8);
            }
            else
            {                
                var page = "About";
                var pageContainer = $('#page5');
                if(@Html.Raw(ViewBag.Page) == "Contact"){
                    page = "Contact";
                    pageContainer = $('#page4');
                    $('.carousel-home-body').carousel(4);
                }

                var loding = $("#loading-pages").html();
                pageContainer.html(loding);
                
                $.ajax({
                    type: "GET",
                    url: "/Home/"+ page,
                    datatype: "html",
                    success: function (data) {
                        pageContainer.html(data);
                        eval(document.getElementById("contactError").style.display = "block");
                    },
                    error: function (status) {
                        alert(status.responseText);
                    }
                });
            }
        });

    </script>
}


