
@model DagoWebPortfolio.Models.ProjectsViewModel
@{ 
    var skill = Model.Skills.Where(x => x.ID == ViewBag.SkillID).DefaultIfEmpty().Single();
    var isCondOnViewBag = Model.Skills.Count() != 0 && ViewBag.SkillID != null ;
}

<p>
    @Html.HiddenFor(model => Model.ID)

	@if( skill != null && isCondOnViewBag && ViewBag.SkillID == skill.ID ){
		<input type="hidden" name="listProjectsOfSkillId" value="@Model.ID" />
	}

    <div class="form-group">
        <div class="control-label col-md-2">
            
            @if (skill != null && isCondOnViewBag && ViewBag.SkillID == skill.ID)
            {
                
                    <input type="checkbox" name="isProjectSelected" value="true-@Model.ID" checked/>
                
            }
            else
            {
                <input type="checkbox" name="isProjectSelected" value="true-@Model.ID" />
            }

        </div>        
        <div class="col-md-10">
            @Html.DisplayFor(model => Model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    
</p>